body{
    background-color: rgb(231, 224, 224);
}
.header{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 65px;
}
.halt-width{
    width: 50%;
}
.header-p{
    text-align: right;
    font-size: 40px;
    font-weight: 800;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header-main-p{
    text-align: right;
    color: gray;
}
.btn{
    position: absolute;
    right: 76px;
    background-color: rgb(221, 76, 19);
    border: 1px solid rgb(221, 76, 19);
    cursor: pointer;
    padding: 7px;
    border-radius: 5%;
    color: white;
    margin-top: 7px;
}
/* second part */
.second-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 80px 40px 102px;
}
.second-part-2div{
    margin-left: 16px;
}
.second-part-2div-span{
    display: block;
    font-size: 25px;
    font-weight: 800;
}
.second-part-2div>p{
    color: gray;
}
.info{
    display: block;
}
.fa-solid{
    color: seagreen;
    font-size: 20px;
}
/* my plans style */
.My-Plans{
    margin-top:130px;
} 
.section-title{
    text-align: center;
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 20px;
}
.skills-m{
    margin-left: 30px;
    margin-right: 30px;
    gap:24px;
    border-radius: 5px;
    padding: 30px;

  



}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* background image */
.background-image{
    position: relative;
    max-width: 100px;
    height: auto;
}
.background-text{
   position: absolute;
   top: 25%;
   color: fff;
   padding: 20px;
   
}
.background-text h4{
font-size: 26px;
text-transform: uppercase;
font-weight: bolder;
margin-bottom: 5px;
   
}


    /* footer style */
.Contact{
    display:flex;
    background-color: black;
    
    
 }

.Contact-title{
    background-color: aliceblue;
}
    
